#===========================
# BUILDS
#===========================
dist

#===========================
# JEST
#===========================
coverage

#===========================
# ESLINT
#===========================
.eslintcache

#===========================
# ENVIRONMENTS
#===========================
.env
!.env.example

#===========================
# YARN
#===========================
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
.pnp.*

